body {
  color: white;
  background: url("http://wallpapers-best.com/uploads/posts/2015-10/7_starry_night.jpg");
  background-size: contain;
  background-repeat: repeat-y repeat-x;
  font-family: de-walpergens-pica;
  padding: 5%;
  text-align: center;
}
 h1 {
   color: gold;
 }

 img {
   width: 75%
 }
 a {
   color: white;
 }
 a:hover {
   color: maroon;
   font-weight: bolder;
 }
table {

}
td {
  width: 20%
}
 td > img {
   width: 400px;
   height: 200px;

 }
 div {
  top:.5%;
  position:absolute;
  margin-bottom: 20px;
  height: 40px;
  font-size: 24px;
  text-align: center;
}
